.logo {
  width: 100%;
  display: flex;
  align-items: center;

  width: 100%;
  gap: 0.5rem;
  text-align: center;

  &__icon {
    width: 27px;
    transform: translateY(2px);
  }

  &__text {
    font-size: 22px;
    letter-spacing: 0.4px;
    font-weight: 700;
    white-space: wrap;
  }
}
