.rooms {
  &__head {
    padding: 1rem 0 3rem;
    gap: 2rem;
    h2 {
      position: relative;
      margin-right: 1rem;
      &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 120px;
        background: $primary;
        bottom: -8px;
        left: 0;
        border-radius: 3px;
      }
    }
  }
  .btnprimary {
    background: $color-green;
    margin-bottom: 0;
    height: auto;
    padding: 10px 25px;
    svg {
      margin-top: -3px;
    }
    &:hover {
      background: $color-green-light;
    }
    @include media-sm {
      font-size: 1rem;
      padding: 8px 25px;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  &__card {
    width: 20rem;
    max-width: 100%;
    cursor: pointer;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.09)
    );
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-left: 1px solid rgba(255, 255, 255, 0.12);
    padding: 1rem 2rem;
    border-radius: 15px;
    h2 {
      margin-bottom: 1rem;
    }
  }
  &__persons {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    .person__img {
      position: relative;
      .overlaped__img {
        position: absolute;
        top: 18px;
        left: 18px;
      }
    }
    .person__name {
      p {
        display: flex;
        align-items: center;
      }
      img {
        width: 15px;
        margin-left: 5px;
      }
    }
  }
  &__personCount {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    justify-content: flex-end;
    svg {
      font-size: 1.2rem;
      margin-left: 5px;
    }
  }
}
