$primary-background: #121212;
$secondary-background: #202020;
$primary: #0077ff;
$primary-text: #fff;
$text-gray: #c4c5c5;
$input-background: #262626;
$input-background-2: #353535;
$placeholder-color: #555555;
$color-green: #20b168;
$color-yellow: #d6d60b;
$color-red: crimson;
$color-green-light: #37ca80;
